build/
compile_commands.json
.cache/
.DS_Store
*.swp
*.o
*.d
user/*.elf
user/*.bin
wasabi-toolbag/

/linux-image/Image
/linux-image/linux.tar.xz
/linux-image/src/
/linux-image/*.log
/linux-image/build.sh
/linux-image/init
/linux-image/init.c
/linux-image/initramfs.list
/virt.dtb
